
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #0BB5FF;

/* var(--secondaryColor) !important; */
--secondaryColor: #EC7068;

/* var(--accentColor) !important; */
--accentColor: #1E5728;

/* var(--fontFamily) !important; */
--fontFamily: "Bitcount Single Ink", system-ui;

}